@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap");
body {
  font-family: "Fredoka", sans-serif;
  font-size: 20px;
}
.fuente {
  font-family: "Fredoka", sans-serif;
  font-size: 20px;
}
a {
  text-decoration: none;
}
.no-link-style a {
  text-decoration: none;
  color: antiquewhite;
}
.nosotros {
  background-color: #40b19a;
  border-radius: 25px;
}
.contenedor-recuadro {
  border: 2px solid antiquewhite;
  padding: 10px;
  display: inline-block;
}
.imagen-centrada {
  display: block;
  margin: 0 auto;
}
  .btnCentrado {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
  }
.btnCentrado .btn {
  background-color: #40b19a;
  border: #40b19a;
}
.link {
  text-decoration: none;
  color: antiquewhite;
}
.bi {
    color: antiquewhite;
    font-size: 25px;
  }
  .fondo {
    position: relative;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    background-image: url('../src/assets/Error.png');
  }

  .fondo .fondoSinImagen{
    background: #2b9f89; 
  }

.reviewClientes {
  color: antiquewhite;
}
.textoAntiqueWhite {
  color: antiquewhite;
}
.fondoVerdeOscuro {
  background-color: #007a66;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #2b9f89;
  font-family: 'Fredoka', sans-serif;
  font-size:  20px; ;
}
.mainSection {
  flex-grow: 1;
  min-height: none;
}
.fondoFooterAndMenu {
  background-color: #007a66;
  color: antiquewhite;
}
.navbar-logo {
  height: 5em;
  width: auto;
  margin-right: 0.5em;
}

.galeria-nuestrosEspecialistas {
  --m: 3;
  --g: 1px;
  --f: 0.8;
  display: grid;
  gap: var(--g);
  height: 80vh;
  grid-template-columns: repeat(var(--m), 1fr);
}
.galeria-nuestrosEspecialistas > img {
  width: 0;
  height: 0;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  transition: 350ms linear;
}

.carrouselInicio {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  object-position: center 25%;
}
.card-inicio {
  width: 18rem;
}

.card-inicio .card-img-top {
  height: 250px;
  object-fit: cover;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .fondo {
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #55c3ab;
    padding: 20px;
    min-height: 1vh;
  }
}
/* Estilos para dispositivos grandes */
@media (max-width: 768px) {
  .fondo {
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #55c3ab;
    padding: 5px;
    min-height: 1vh;
  }
}
@media screen and (min-width: 993px) {
  .galeria-nuestrosEspecialistas {
    --n: 1;
    --m: 6;
    --g: 0px;
    --f: 1.1;
    display: grid;
    gap: var(--g);
    height: 80vh;
    grid-template-columns: repeat(var(--m), 1fr);
  }
  .galeria-nuestrosEspecialistas > img {
    filter: brightness(0.5);
  }
  .galeria-nuestrosEspecialistas img:hover {
    filter: brightness(1);
    width: calc(70vh * var(--f) / var(--n));
    height: calc(80vw * var(--f) / var(--m));
  }
}
@media screen and (min-width: 770px) and (max-width: 992px) {
  .galeria-nuestrosEspecialistas {
    --n: 1;
    --m: 6;
    --g: 0px;
    --f: 0.9;
    display: grid;
    gap: var(--g);
    height: 60vh;
    grid-template-columns: repeat(var(--m), 1fr);
  }
  .galeria-nuestrosEspecialistas > img {
    filter: brightness(0.5);
  }
  .galeria-nuestrosEspecialistas img:hover {
    filter: brightness(1);
    width: calc(50vh * var(--f) / var(--n));
    height: calc(80vw * var(--f) / var(--m));
  }
}
@media screen and (min-width: 576px) and (max-width: 769px) {
  .slider {
    width: 150px;
    height: 200px;
  }
  .slider span {
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(250px);
  }
  .galeria-nuestrosEspecialistas {
    --m: 3;
    --g: 3px;
    display: grid;
    height: 60vh;
    grid-template-columns: repeat(var(--m), 1fr);
  }
}
@media screen and (max-width: 575px) {
  .slider {
    display: none;
  }
  .galeria-nuestrosEspecialistas {
    height: 50vh;
  }
}
@media screen and (max-width: 300px) {
  .galeria-nuestrosEspecialistas {
    height: 45vh;
  }
}
