@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');
body{
  font-family: 'Fredoka', sans-serif;
  font-size: 20px; 
}
a {
  text-decoration: none;
}
.no-link-style a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.nosotros{
background-color:  #40b19a;
border-radius: 25px;
}
.contenedor-recuadro {
  border: 2px solid #ccc; /* Borde de 2px de ancho y color gris */
  padding: 10px; /* Espacio interno dentro del recuadro */
  display: inline-block; /* Para que el recuadro se ajuste al tamaño de la imagen */
}
.imagen-centrada {
  display: block; /* Hace que la imagen se centre en el contenedor */
  margin: 0 auto; /* Centra horizontalmente la imagen dentro del contenedor */
}
.btnCentrado{
  display: flex;
  justify-content: center;
    align-items: center;
}
.btnCentrado .btn {
    background-color: #40b19a;
    border: #40b19a;
  }
.link {
    text-decoration: none;
    color: rgb(248, 248, 248);
  }
.bi {
    color: rgb(248, 248, 248); /* Cambia el color aquí */
    font-size: 25px;
  }
  .fondo {
    position: relative;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    background-image: url('../src/assets/Error.png');
  }
  .fondo .fondoSinImagen{
    background: #2b9f89; 
  }

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Fredoka', sans-serif;
  font-size:  20px;
}

.mainSection {
  flex-grow: 1;
  min-height: none;
}
.fondoFooter {
  background-color: #007a66;
  color: antiquewhite;
}


/* Componente Inicio */
.carrouselInicio{
  width: 100%;
  height: 50vh;
  object-fit: cover;
}



@media (min-width: 769px) and (max-width: 1024px) {
    .fondo {
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: #55c3ab;
        padding: 20px;
        min-height: 1vh;
  }
}
  /* Estilos para dispositivos grandes */
  @media (max-width: 768px) {
    .fondo {
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: #55c3ab;
        padding: 5px;
        min-height: 1vh;
  }
}